html{
    height: 100%;
    margin: 0;
    background-color: #394452;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20%;
    padding: 10px 15px;
}
body{
    height: 80%;
    margin: 0%;
}
#grand-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    height: 100%;
    padding: 10px 15px;
}
.hide{
    display: none;
}
.show{
    display: inline;
}
.title{
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 20px;
    min-width: 45px;
    height: 100px;
    font-size: 5em;
    font-weight: bolder;
    text-shadow: 2px 1px gray;
}
.v-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    flex-grow: 0.2;
    width: 20%;
    border: 1px solid white;
    border-radius: 50px;
}
.h-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    flex-grow: 3;
}
.score{
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
    margin: auto auto;
    flex-grow: 0;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px;
    min-width: 75px;
    line-height: 75px;
    font-size: 500%;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10%;
    transition: all 0.3s ease;
}
.choice{
    display: flex;
    align-items: center;
    min-height: 75px;
    min-width: 75px;
    line-height: 75px;
    font-size: 500%;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10%;
    transition: all 0.3s ease;
}
.image{
    margin: auto;
    display: block;
}
.next{
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    margin: 2em auto 2em auto;
}
.message{
    margin: auto;
    padding: 10px;
}
.clicked{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 1px 6px #ffc600;
}
.pulse{
    transform: scale(0.8);
}
.next:hover{box-shadow: 0 1px 6px white;}
.start:hover{box-shadow: 0 1px 6px white;}
.choice:hover{box-shadow: 0 1px 6px white;}