header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
}

#playButton{
    border: 5px solid chocolate;
}
#grand-container{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}
.hide{
    display: none;
}
.v-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    flex-grow: 1;
}
.h-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    flex-grow: 1;
}
.score{
    font-size: 20px;
    text-align: center;
    padding: 5px 10px;
}